/*
 *GLOBAL
 */
* {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    vertical-align: baseline;
}

:root {
    --main-black: #1F202B;
    --main-gray: #8A8CA5;
    --light-gray: #E7E7E8;
    --Main-blue: #5952FF;
}
html {
    font-family: Avenir, sans-serif;
}
html,body {
    width: 100%;
    height: 100%;
}
h1 {
    font-size: 50px;
    font-weight: 900;
    color: var(--main-black)
}
h2 {
    font-size: 24px;
    font-weight: 500;
}
p {
    font-size: 17px;
}
a {
    font-size: 20px;
    color: var(--main-gray);
    text-decoration: none;
}
.wrapper-content {
    width: 70%;
    margin: 0 auto;
}
.white {
    color: white;
}
/*
 * NAV
 */
nav {
    position: fixed;
    top: 50px;
    left: 5%;
    line-height: 50px;
    width: 100%;
    z-index: -1;
}
nav a {
    font-weight: 500;
    color: var(--main-black);
}
.nav-right {
    position: fixed;
    right: 5%;
    top: 50px;
}
.nav-right a > img {
    vertical-align: text-bottom;
}
.nav-right a:first-child {
    margin-right: 60px;
}
/*
 * CONTENT
 */
.project-list {
    margin-top: 125px;
    z-index: 1;
    background-color: var(--main-black);
}
.video-title h2, p {
    margin-top: 15px;
    margin-bottom: 6px;
    display: inline-block;
}
.video-title h2 {
    text-align: left;
    margin-left: 11%;
    color: aquamarine;
}
.video-title p {
    margin-left: 6%;
    color: white;
}
.video-title a {
    margin-left: 6%;
    vertical-align:bottom;
}
.video {
    align-self: center;
}
.video-desc {
    text-align: left;
    margin-left: 11%;
    margin-right: 13%;
    color: white;
}
 /*
 * BACKGROUND LINES
 */
 /*
 * FOOTER
 */
 footer {
     position: fixed;
     bottom: 50px;
     right: 5%;
     z-index: -1;
 }
 footer > p {
     font-weight: 500;
 }
 /*
 * MOTION
 */